.App {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
}

.container {
  position: relative;
  /* Resimle aynı seviyede olmasını sağlar */
}


.img-with-shadow {
  width: 100px;
  /* Resmin genişliği */
  top: 10px;
  /* Üst boşluk */
  right: 10px;
  /* Sağ boşluk */
  margin-bottom: 10px;
  float: left;

}

/* sweetalert css özelleştirmeleri*/
.swal2-popup {
  border-radius: 40px;
  width: 400px;
  height: auto;

}

.custom-icon {
  font-size: 10px;
  /* İkona istediğiniz boyutu ayarlayabilirsiniz */
}

.custom-title {
  font-size: 18px;
  /* Başlık boyutunu istediğiniz gibi ayarlayabilirsiniz */
}

/* Metin (text) için özel CSS sınıfı */
.custom-text {
  font-size: 1px;
  /* Metin boyutunu istediğiniz gibi ayarlayabilirsiniz */
}